@use "sass:color";
@use "src/styles/vars" as *;
@use "src/styles/animations" as *;
@use "src/styles/mixins" as *;

.container {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
  transition: all 1s;
  @include for-phone-only {
    top: 1rem;
    right: 0rem;
  }
  .notification {
    @include slide-in-animation(
      100px,
      $direction: "horizontal",
      $duration: 0.5s
    );
    border-radius: 0.675rem;
    width: 300px;
    padding: 0.5rem;
    color: $white;
    background: $background;
    position: relative;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.25);
    @include for-phone-only {
      width: 90%;
    }
    div {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      gap: 0.5rem;
      .title {
        display: flex;
        gap: 0.2rem;
        align-items: center;
        line-height: 1rem;
      }
      .close {
        margin-left: auto;
        border: none;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    &.error {
      background: $red;
    }
    &.success {
      background: $green;
    }
  }
}
