@use "sass:string";

@mixin slide-in-animation($from, $direction: "vertical", $duration: 0.25s) {
  $transform: translateY;
  @if $direction == "horizontal" {
    $transform: translateX;
  }

  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    from {
      opacity: 0;
      transform: #{$transform }(#{$from});
    }
    to {
      opacity: 1;
      transform: #{$transform }(0px);
    }
  }

  animation: $keyframeName $duration;
}

@mixin appear-animation($from, $duration: 0.5s, $color) {
  $keyframeName: unique-id();

  @keyframes #{$keyframeName} {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: $color;
    }
  }

  animation: $keyframeName $duration;
}
